<div class="container">
	<div class="row">
	<h2 class="majorElement">Ukrainian Civil War</h2>
		<div class="col-sm-6">
			<div class="majorElement shadow">
				<h2>Intel</h2>
				<!-- <p ng-repeat="intel in intels">{{ intel.content }}</p> -->
				<div ng-show="$scope.intel">
					{{ intel }}
				</div>
			</div>
			<div class="majorElement shadow">
				<h2>Act!</h2>
				<!-- Populate based on currentUser.team -->
				<div ng-repeat="action in actionList">
					<button ng-click="act(action)">{{ action.text }}</button>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="majorElement shadow">
				<h2>Negotiate</h2>
				<form name="messageForm" ng-submit="sendMessage()">
					<input ng-model="msg" type="text" id="messageInput"  placeholder="Contact Rival">
				</form>
				<div ng-show="conversation">
					<p ng-repeat="message in conversation | reverse"><span class="strong">{{ message.from }}:</span> {{ message.content }}</p>
				</div>
			</div>
		</div>
	</div>
	<button ng-click="leaveRoom(currentUser.room)">Resign!</button>
</div>