<div class="container">
	<div class="row">
		<div class="col-xs-12 majorElement shadow">
			<div class="row">
				<div class="col-xs-6">
					<h1>Ukrainian Civil War</h1>
				</div>
				<div class="col-xs-6">
					<h2 class="alignRight">{{ playerName }}</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="majorElement shadow">
				<h3 class="alignCenter pad">Intel</h3>
				<!-- <p ng-repeat="intel in intels">{{ intel.content }}</p> -->
				<div class="pad">
					{{ intel }}
				</div>
			</div>
			<div class="majorElement shadow">
				<h3 class="alignCenter pad">Act!</h3>
				<!-- Populate based on currentUser.team -->
				<div ng-repeat="action in actionList">
					<div class="row">
						<div class="col-xs-4 alignCenter">
							<button ng-click="act(action)">{{ action.text }}</button>
						</div>
						<div class="col-xs-8">
							<p class="pad"> {{ action.details }}</p>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="majorElement shadow">
				<h3 class="alignCenter pad">Negotiate</h3>
				<form name="messageForm" ng-submit="sendMessage()">
					<input ng-model="msg" type="text" id="messageInput"  placeholder="Contact Rival" class="fullWidth pad">
				</form>
				<div ng-show="conversation" class="pad">
					<p ng-repeat="message in conversation | reverse"><span class="strong">{{ message.from }}:</span> {{ message.content }}</p>
				</div>
			</div>
		</div>
	</div>
	<button ng-click="leaveRoom(currentUser.room)">Resign!</button>
<!-- 	<button ng-click="leaveRoom(currentUser.room)">Resign!</button>
 --></div>