<div class="container">
	<div class="row">
	<h2 class="majorElement">Ukrainian Civil War</h2>
		<div class="col-sm-6">
			<div class="majorElement shadow">
				<h2>Intel</h2>
				<!-- <p ng-repeat="intel in intels">{{ intel.content }}</p> -->
				{{ intel }}
			</div>
			<div class="majorElement shadow">
				<h2>Act!</h2>
				<!-- Populate based on currentUser.team -->
				<button ng-click="act('roomOne', 'teamTwo', 'condemn')">Condemn Putin!</button>
				<button ng-click="act('roomOne', 'proxTwo', 'condemn')">Condemn Separatists!</button>
				<button ng-click="act('roomOne', 'proxOne', 'praise')">Praise Ukrainians!</button>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="majorElement shadow">
				<h2>Negotiate</h2>
				<form name="messageForm" ng-submit="sendMessage()">
					<input ng-model="msg" type="text" id="messageInput"  placeholder="Contact Rival">
				</form>
				<p ng-repeat="message in conversation | reverse"><span class="strong">{{ message.from }}:</span> {{ message.content }}</p>
			</div>
		</div>
	</div>
	<button ng-click="leaveRoom(currentUser.room)">Resign!</button>
</div>