<div class="container">
	<div class="row">

		<div class="col-md-8 col-md-offset-2 majorElement shadow">
			<h2 class="majorElement">Main Page</h2>
			<div class="row">
				<!-- populate based on rooms in rooms; filer to only show those with a slot open; docs: https://docs.angularjs.org/api/ng/filter/filter -->
				<ng-repeat="room in rooms">
					<div class="col-xs-3">
						<p>{{room.scenario.title}}</p>
					</div>
					<div class="col-xs-3">
						<p ng-show="room.finished">Ending</p>
						<p ng-show="room.started && !room.finished">Underway</p>
						<p ng-show="!room.started">Open</p>
					</div>
					<div class="col-xs-3">
						<p>{{room.users}}/2</p>
					</div>
					<div class="col-xs-3">
						<button ng-show="!room.started && (room.users < 2)" ng-click"joinRoom('room.id')">Join!</p>
						<p ng-show="room.started">Can't Join</p>
					</div>
				</ng>
			</div>
			<button ng-click="createRoom('roomOne')">New Room</button>
		</div>
	</div>
</div>


<!-- New Room button: on click, emits+waiting-symbol; emission to server creates a new user AND a new room, and sends a jwt to the client; when the client receives the jwt with user information, they are redirected to the room with the id that matches their user.room_id

	So this is the C for room AND user handled simultaneously

If lobby is completely empty, display the message "Empty World"